<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experience</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Engineer II</h3>
                            <div class="time">Jan 2017 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Microsoft - Seattle, WA</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p>Full stack developer working on Microsoft Teams. Responsible for designing and developing features for Teams and Channels areas. Primarily working with C#, Typescript, AngularJS and React.</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Developer</h3>
                            <div class="time">Dec 2015 - Dec 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Software Answers - Orlando, FL</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Primary responsibilities included designing, developing, and maintaining code for corporate housing software. Other responsibilities included maintaining legacy code, developing customized solutions for clients, and developing scripts for deployment and maintenance.</p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Developer</h3>
                            <div class="time">Jul 2014 - Nov 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Amatuer Athletic Union - Orlando, FL</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Primary responsibilities included design and development of server code. Developed customized web applications and DotNetNuke modules for sport sites and the main site, including event management, user management, pdf creation &amp; conversion. Also developed several class libraries for use in multiple internal and external applications to reduce code reuse and keep code centralized for updates.</p>  
                        <p>Improved user experience by decreasing site complexity, adding new functionality to existing systems. New web applications are designed with UX in mind, and usability is a main focus of design. The new event licensing system has decreased the number of support calls by 30-40%.</p>
                        
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Developer</h3>
                            <div class="time">Dec 2006 - Jul 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">Ace Underwriting Group - Plantation, FL</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Developed and tested custom web based management system using Asp.Net, C#, Visual Basic and Microsoft SQL Server. System allows for management of customers, employees, and vendors allowing the employees, managers, and administrators to work more efficiently. </p>  
                        <p>Increased customer satisfaction and efficiency of remote offices by increasing availability of data. Requests that would take remote offices 3-5 business days to fulfill now can be done in under 15 minutes.</p>
                        <p>Developed a system to replace the paper file room with a web base solution saving the over $50k annually. This has also improved the ecological footprint of the company by reducing paper use.</p>
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->
