<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>Some projects I have worked on.</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title">Microsoft Teams</span> - 
                    <span class="project-tagline">A chat based collaboration tool for business.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title">Oscar Dash</span> - 
                    <span class="project-tagline">A tool for corporate housing companies to automate their daily tasks.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title">Oscar Portal v2</span> - 
                    <span class="project-tagline">A responsive web app allowing customers to view information about their stays at corporate housing apartments.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title">Simple Machines</span> - 
                    <span class="project-tagline">A game for teaching children how simple machines work. Developed for use in science centers, leveraging Microsoft Kinects to track people in the space.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title">Depth</span> - 
                    <span class="project-tagline">A SCUBA simulation to help teach the basics to beginners.</span>
                </div><!--//item-->
            </section><!--//section-->